* {
    box-sizing: border-box;
}

body {
    background-color: #1e1f29;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-style: normal;
    color: #e8e9f1;
    padding: 0 !important;
    margin: 0 !important;
}

h1 {
    font-size: 3em;
    text-align: left;
    margin-left: -55px;
    color: #fa85d3;
}

div #underheader {
    position: relative;
    text-align: left;
    color:#dae98a;
    margin-top: -35px;
    margin-left: -20px;
}

a {
    color: #7fd1e4;
    text-decoration: none;
    margin: 10px;
    font-style: normal;
}

a:hover {
    color: #dae98a;
}

h2 {
    color: #8bd8ab;
}

.hidden {
    display: none;
}

.latestpost {
    position: absolute;
    top: 42%;
    left: 15%;
    width: 70%;
    height: 500px;
    background-color: #262732;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #171717;
    padding-left: 30px;
    padding-right: 30px;
}

#blog {
    cursor: pointer;
}

#closeblog {
    position: relative;
    float: right;
    font-size: 30px;
    font-style: normal;
    margin-top: 10px;
    cursor: pointer;
}

#blogscroll {
    position: relative;
    overflow: auto;
    height: 380px;
    margin-top: -10px;
}

#container {
    position: relative;
    margin-top: 30px;
}

#inner {
    display: inline-block;
    column-count: 2;
}

#links {
    margin-top: 10px;
    margin-left: -55px;
    font-size: 25px;
    font-style: normal;
}

#about {
    margin-top: 40px;
    margin-left: -65px;
    text-align: left;
}


/*Desktop Stylings 1200+px */
@media (min-width: 1200px) {    
}

/*Desktop Stylings 992px+ */
@media (min-width: 992px) and (max-width: 1199px) {    
}

/*Desktop Stylings 768px+ */
@media (min-width: 768px) and (max-width: 991px) {    
}
/*Desktop Stylings 576px+ */
@media (max-width: 767px) {    
}