* {
    box-sizing: border-box;
}

body {
    background-color: #363949;
    font-family: Ubuntu, Helvetica;
    color: #e8e9f1;
    padding: 0 !important;
    margin: 0 !important;
}

ul {
    list-style: none;
    text-align: left;
    margin:30px;
}

#underheader {
    color: #8bd8ab;
    font-size: 15px ;
    margin-left: 40px;
    margin-top: -40px;
}

a {
    color: #7fd1e4;
    text-decoration: none;
}
a:hover {
    color: #dae98a;
}
h2 {
    color: #8bd8ab;
}

/*Desktop Stylings 992px+ */
@media (min-width: 1400px) {    
    nav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 260px;
        float: top left;
        background-color: #282a36;
        box-shadow: 5px 0px 5px #1f2029;
    }

    h1 {
        font-size: 3.2em;
        color: #c990cc;
        position: relative;
        top: 0px;
        text-align: center;
        margin-left: auto;
        float: top left;
    }

    .links {
        margin: auto -20px 30px;
    }

    #list {
        position: relative;
        top: 80px;
        float: top left;
        margin-left: 20px;
        margin-top: 30px;
        padding: 5px;
        border-radius: 10px;
/*      background-color: #242632 ; Not sure about this one */ 
        width: 180px;
    }

    #outer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px auto auto 280px;
        height: 900px;
        width: 700px;
    }
  
    .div {
        border-radius: 10px;
        width: 80%;
        flex: 0 0 410px;
        margin: 20px;
        padding: 20px;
        background-color: #282a36;
        box-shadow: 5px 5px 5px #1f2029;
    }
  
    .big {
            flex-basis: 860px;
            overflow: auto;
    }

}
