body
	{
	background-color: #282a36;
	font-family: Verdana, Helvetica;
	color: #e8e9f1;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 0%;
}

h1
	{
	color: #ffff87;
	background-color: #333541;
	text-align: center;
	vertical-align: middle;
}

h2 
	{
	color: #7ec6eb;
}

.tehHeading
	{
	height:50px;
	vertical-align: middle;
	background-color: #af87ff;
}

.extra
	{
	color: #fe87d6;
}

#contact
	{
	color: #5fff87;
}

a:link
	{
	color: #af87ff;
}

a:visited
	{
	color: #af87ff;
}

a:hover
		{
	color: #5fff87;
}